@import '../../styles/shared.scss';

.Phonebook {
    background-color: $indigo-accent;
    color: $green;
    line-height: 1.5;
    font-family: $primary-font-stack; 
    margin: auto;
    width: 700px;
    height: 700px;
    border-radius: 20px;
    font-weight: bolder ;
    box-shadow: 0 4px 8px 20px rgba(14, 1, 5, 0.2);
    text-align: center;
    margin-top: 60px;
}

.Phonebook-title {
    padding-top: 50px;
}